pipeline/pipeline_IncrementalBook.json
{
	"name": "pipeline_IncrementalBook",
	"properties": {
		"activities": [
			{
				"name": "ProcessSourceXml",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "GetXmlStringFromSource",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsertBooksAndLanguagesFromXML]",
					"storedProcedureParameters": {
						"xml": {
							"value": {
								"value": "@activity('GetXmlStringFromSource').output.Response",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GetXmlStringFromSource",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://parsexmlblob.azurewebsites.net/api/parse_xml?code=NJ7y8Ngy4cqg_QYbia-LJowSJZDp1cONe7hL9PrIfKVsAzFuFHCDbA%3D%3D&blobUri=https://edristorage.blob.core.windows.net/raw/BookXML.xml"
				}
			}
		],
		"annotations": []
	}
}